$dark: #343a40;
$light: #f8f9fa; 

body {
  #root {
    color: $dark;
    font-family: Arial, Helvetica, sans-serif;
  }
}

body, html {
    background-color: $light;
    margin: 0;
    padding: 0;
    border: 0;
}

.banner {
  min-height: 100vh;
  text-align: center;
  background-image: url('../images/diamond.svg');
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: top center;

  h1 {
    margin: 0;
    padding: 2rem;
    font-size: 3rem;
    font-weight: lighter;
  }

  p {
    margin-top: 6rem; 
  }
}

#logo {
  max-width: 80vw;
  max-height: 50vh;
  filter: drop-shadow(0rem 2rem 1rem $dark);
}