$dark: #343a40;
$light: #f8f9fa; 

body {
  #root {
    color: $dark;
    font-family: Arial, Helvetica, sans-serif;
  }
}

body, html {
    background-color: $light;
    margin: 0;
    padding: 0;
    border: 0;
}

.banner {
  text-align: center;
  background-image: url('../images/diamond.svg');
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: top center;

  p {
    margin-top: 6rem; 
  }
}

#logo {
  margin: 6rem;
  max-width: 80vw;
  max-height: 50vh;
  filter: drop-shadow(0rem 2rem 1rem $dark);

  rect, path {
    cursor: pointer;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .rotate {
    animation: App-logo-spin 1 2s ease-in;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}